body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.nav-start ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-end ul {
    display: flex;
    gap: 24px;
}

#bmw-concept-car {
    position: absolute;
    z-index: -1;
    width: 100%;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: inherit;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
  }

i {
    font-style: normal;
    font-weight: 900;
}

.white-text {
    color: white;
    font-family: inherit;
}

#page-margin {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.blue-btn {
    color: white;
    background-color: #1c69d4;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 7px 32px;

}

.center-text {
    text-align: center;
}
